.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;
}

h1{
    font-family: "Franklin Gothic Book";
    background-color: #d9d5d2;
    font-size: 50px;
    opacity: .;
}

h2{
    color: black;
    font-family: "Adobe Arabic";
    font-size: 40px;
    background-color: #d9d5d2;
    opacity: .6;
}

h3{
    background-color: #d9d5d2;
}
.content {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centertxt {
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}

body{
    background: #c6e2ff;
    background-image: url("https://static.pexels.com/photos/758734/pexels-photo-758734.jpeg");
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1500px;
    /*font-family: "Franklin Gothic Book";*/
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Indie Flower', cursive;
}

img {
    height: 500px;
    width: 600px;
    border-color: red;
    padding: 5px;
    background-color: orange;

}

ul {
    list-style-type: circle;
    list-style-position: inside;
}

ol {
    list-style-type: circle;
    list-style-position: inside;
}
